# Virtual environments
.env

# csTimer .txt files
*.txt

# Test notebooks
*.ipynb

# Local settings
.vscode/

# Output files
*.csv

# User interface files
*.ui

# Temporary files
/tmp

# Style files
*.qss